.blogs {
  overflow: auto;
  width: 100%;
}
#blogleft {
  float: left;
  width: 40%;
  margin: 5%;
}
#blogright {
  float: right;
  width: 40%;
  margin: 5%;
}
#clearblogs {
  clear: both;
}
.tumblr_photo {
  width: auto;
}
