---
layout: default
---
<div id="post">
<article> <p> {{ content.date}}  &raquo;<br />{{ content }}
</article></div>

<div id="related">
  <h2>recent posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="totop"><a href="#top" >back to top &uarr;,</a><a href="/blogs.html" > back to the blogs &uarr;</a> or <a href="/thisblog.html" > back to this blog &uarr;</a></div><hr /><hr />
